@charset "UTF-8";
.h1 {
  font-family: "Young Serif", serif;
  background-color: rgb(196, 172, 218);
  display: flex;
  justify-content: center;
}
.h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px;
}
.h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px;
}

img {
  font-weight: 350px;
  height: 350px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  text-align: justify;
  display: flex;
  margin: 20px;
}

ul {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pagina-principal {
  background: rgb(63, 198, 251);
  background: radial-gradient(circle, rgba(63, 198, 251, 0.6965161064) 35%, rgba(70, 81, 252, 0.3603816527) 84%);
  background-color: rgb(128, 165, 214);
  display: grid;
  flex-flow: row wrap;
}

.menu {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.frase-coco-chanel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.img-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
  display: grid;
}
.img-logo img {
  margin: 40px 40px;
  width: 750px;
}

.momento-creativo {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 20px;
}

.fotos-clientas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "texto texto texto" "img1 img2 img3" "img4 img5 img6" "img7 img8 .";
  width: 100%;
  height: 100%;
  justify-items: center;
  gap: 20px;
}
.fotos-clientas h2 {
  grid-area: texto;
}

.img-1 {
  grid-area: img1;
}
.img-2 {
  grid-area: img2;
}
.img-3 {
  grid-area: img3;
}
.img-4 {
  grid-area: img4;
}
.img-5 {
  grid-area: img5;
}
.img-6 {
  grid-area: img6;
}
.img-7 {
  grid-area: img7;
}
.img-8 {
  grid-area: img8;
}

.home {
  text-decoration: none;
  color: blueviolet;
}
.home:hover {
  text-decoration: underline;
  color: blue;
}
.home:visited {
  color: rgba(165, 11, 62, 0.664);
}

.conoceme {
  text-decoration: none;
  color: blueviolet;
}
.conoceme:hover {
  text-decoration: underline;
  color: blue;
}
.conoceme:visited {
  color: rgba(165, 11, 62, 0.664);
}

.diseños {
  text-decoration: none;
  color: blueviolet;
}
.diseños:hover {
  text-decoration: underline;
  color: blue;
}
.diseños:visited {
  color: rgba(165, 11, 62, 0.664);
}

.galeria {
  text-decoration: none;
  color: blueviolet;
}
.galeria:hover {
  text-decoration: underline;
  color: blue;
}
.galeria:visited {
  color: rgba(165, 11, 62, 0.664);
}

.contactame {
  text-decoration: none;
  color: blueviolet;
}
.contactame:hover {
  text-decoration: underline;
  color: blue;
}
.contactame:visited {
  color: rgba(165, 11, 62, 0.664);
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: blueviolet;
  }
  .img-logo img {
    margin: 20px;
    width: 100%;
  }
  .img-coco-chanel {
    margin: 20px;
    width: 100%;
  }
  .fotos-clientas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto texto" "img1 img2" "img3 img4" "img5 img6" "img7 img8";
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-color: rgb(224, 122, 143);
  }
  .img-logo img {
    margin: 10px;
    width: 100%;
  }
  .img-coco-chanel {
    margin: 10px;
    width: 100%;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .fotos-clientas {
    grid-template-columns: 1fr;
    grid-template-areas: "texto" "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8";
  }
}
@media only screen and (max-width: 500px) {
  body {
    background-color: rgb(224, 122, 143);
  }
}

/*# sourceMappingURL=main.css.map */
