h1 {
    font-family: $titulo1;
    background-color: $colortitulo1;
    @include flex-just (center);
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

h2 {
    font-family: $titulo2-3;
    margin: 10px;
}

h3 {
    font-family: $titulo2-3;
    margin: 10px;
}


@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}


img {
    font-weight: 350px;
    height: 350px;
}

p {
    @include parrafo;
}

ul {
    list-style-type: none;
    font-family: $lista;
}

.pagina-principal {
    background: rgb(63, 198, 251);
    background: radial-gradient(circle, rgba(63, 198, 251, 0.6965161064425771) 35%, rgba(70, 81, 252, 0.3603816526610645) 84%);
    background-color: $colorfondo;
    display: grid;
    flex-flow: row wrap;
}

.menu {
    font-family: $textos;
    font-size: 20px;
    @include flex-just (center);

    ul {
        @include flex-just (space-around);
        width: 100%;
    }
}

.frase-coco-chanel {
    @include flex-just (center);
    flex-wrap: wrap;
    margin: 20px 20px;
    animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-fwd-bottom {
    0% {
        transform: translateZ(-1400px) translateY(800px);
        opacity: 0;
    }

    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}



.img-logo {
    @include flex-just (center);
    width: 100%;
    flex-flow: row wrap;
    display: grid;

    img {
        margin: 40px 40px;
        width: 750px;

    }
}

.momento-creativo {
    @include flex-just (space-around);
    flex-flow: row wrap;
    gap: 20px;
}

.fotos-clientas {

    @include grid-columns-areas;
    width: 100%;
    height: 100%;
    justify-items: center;
    gap: 20px;

    h2 {
        grid-area: texto;

    }
}

.img {
    &-1 {
        grid-area: img1;
        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &-2 {
        grid-area: img2;
        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &-3 {
        grid-area: img3;
        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &-4 {
        grid-area: img4;
        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &-5 {
        grid-area: img5;
        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &-6 {
        grid-area: img6;
        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &-7 {
        grid-area: img7;
        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &-8 {
        grid-area: img8;
        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}

@keyframes fade-in-bck {
    0% {
        -webkit-transform: translateZ(80px);
        transform: translateZ(80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}


.home {
    @include color-decoration (none, blueviolet);

    &:hover {
        @include color-decoration (underline, blue);
    }

    &:visited {
        color: rgba(165, 11, 62, 0.664);
    }
}

.conoceme {
    @include color-decoration (none, blueviolet);

    &:hover {
        @include color-decoration (underline, blue);
    }

    &:visited {
        color: rgba(165, 11, 62, 0.664);
    }
}

.diseños {
    @include color-decoration (none, blueviolet);

    &:hover {
        @include color-decoration (underline, blue);
    }

    &:visited {
        color: rgba(165, 11, 62, 0.664);
    }
}

.galeria {
    @include color-decoration (none, blueviolet);

    &:hover {
        @include color-decoration (underline, blue);
    }

    &:visited {
        color: rgba(165, 11, 62, 0.664);
    }
}

.contactame {
    @include color-decoration (none, blueviolet);

    &:hover {
        @include color-decoration (underline, blue);
    }

    &:visited {
        color: rgba(165, 11, 62, 0.664);
    }
}