@media only screen and (max-width: 1200px) {
    body {
        background-color: $pantallachica;
    }

    .img {
        &-logo img {
            margin: 20px;
            width: 100%;
        }

        &-coco-chanel {
            margin: 20px;
            width: 100%;
        }
    }

    .fotos-clientas {
        @include grid-columns-areas-mq1;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: $tablet;
    }

    .img {
        &-logo img {
            margin: 10px;
            width: 100%;
        }

        &-coco-chanel {
            margin: 10px;
            width: 100%;
        }
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .fotos-clientas {
        @include grid-columns-areas-mq2;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-color: $movil;
    }

    .img {
        &-logo img {
            margin:10%;
            width: 80%;
        }

        &-coco-chanel {
            margin: 10px;
            width: 85%;
        }
    }
}