$titulo1: 'Young Serif', serif;
$titulo2-3:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$textos: Georgia, 'Times New Roman', Times, serif;
$lista: Verdana, Geneva, Tahoma, sans-serif;
$colortitulo1:rgb(196, 172, 218);
$colorfondo: rgb(128, 165, 214);
$pantallachica: blueviolet;
$tablet: rgb(224, 122, 143);
$movil: rgb(224, 122, 143);